{% include 'MagBundle:Default:head.html.twig'%}
<h1>Articles</h1>

<body>
    
    
    <!--- qqqq---->
   
 
         {% for bk in data.name %}
         <a href="{{url( bk.articleType, {'id': bk.articleId})}}"><div class="col-md-3" style="border: 2px solid red;">
             
             <img src="{{asset(bk.wallper)}}">
             <p style="margin:0 auto;">{{bk.name}}</p>
      
     </div></a>
         {%endfor%}
           
        
         
  </body>